*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;

}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

nav{
    background-color: #125784;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    width: 60px;
}
nav ul{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    list-style: none;

}
nav ul li{
    padding: 1px 5px;

}
nav input::placeholder{
    color: black;
    font-weight: 500;

}
@media (max-width: 490px) {
    nav{
        flex-direction: column;
    }
    .search{
        display: none;
    }

}
  

/* main */
.heroSection{
    width: 100vw;
    height: 45vh;
    background-image: url('../images/img1.jpg');
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.heroSection .heroText{
    background-color: rgba(0, 0, 0, 0.5); 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 490px) {
    .heroSection .heroText{
        padding: 20px;
        font-size: 10px;
    }
}
.title{
    
    display: grid;
    grid-template-columns: 80% 20%;
}
.title .titleText{
    padding: 2em;
    background-color:  #f57f17;
    font-size: 12px;
}
.title .titleImage{
    height: 8em;
}
.title .titleImage img{
    height: 8em;
    width: 100%;
}
@media (max-width: 490px) {
    .title{
        display: grid;
        grid-template-columns: 100%;
    }
    .title .titleImage{
        height: 13em;
    }
    .title .titleImage img{
        width: 100%;
        height: 13em;
    }
}
.collage{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.collage img{
    width: 100%;
}
@media (max-width: 490px) {
    .collage {
        grid-template-columns: repeat(2, 1fr); 
    }
    .collageImg:nth-child(3)  {
        grid-column: span 2;
        width: 100%;
        height: 20em;

    }
    .collageImg:nth-child(3) img {
        width: 100%; 
        height: 20em;
    }

}
.formDiv{
    background-color: #5e35b1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formDiv form{
    width: 20em;
    padding: 20px 0px;
    display: flex;
    /* justify-content: left; */
    /* align-items: center; */
    flex-direction: column;
}
.formDiv form>div{
    font-size: 13px;
    width:20em ;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 8px 0px;
    /* align-items: center; */
}
.formDiv form>input{
    margin: 8px 0px;
    background-color:white;
    /* width: 20em; */
}
.formDiv form>input::placeholder{
    color: black;
}
.formDiv form>textarea{
    margin: 8px 0px;
    background-color:white;
    color: black;
    /* width: 20em; */
}
.formDiv form>textarea::placeholder{
    color: black;
}
.formDiv form>button{
    color: black;
    background-color: white;
    /* width: 20em; */
}
footer {
    padding: 20px 12px;
    background-color: black;
}
footer div{
    display: flex;
}
footer div img{
    width: 60px;
}
footer div .footerText{
    font-size: 11px;
    display: flex;
    flex-direction: column;
    /* padding: 13px; */
    margin: 7px 25px;
}
@media (max-width: 490px) {
    footer div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer div .footerText h5{
        margin: 10px 0px;
    }
    footer div .footerText{
        text-align: center;
    }
}
